server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  # Scrape Triton server container logs
  - job_name: triton
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        filters:
          - name: name
            values: ['triton_server']
    
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'
      
      - source_labels: ['__meta_docker_container_id']
        target_label: 'container_id'
      
      - replacement: 'triton-inference-server'
        target_label: 'service'
      
      - replacement: 'development'
        target_label: 'environment'
    
    pipeline_stages:
      - docker: {}

